.container {
    z-index: -1;
    position: relative;
}

body {
    margin: 0;
    background-color: black;
}

#title {
    font-size: 100px;
    color: white;
    font-family: Verdana;
    text-align: center;
    padding-top: 2%;
}

button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: min-content;
    width: 230px;
    font-size: 60px;
    z-index: 1;
    background-color: black;
    color: white;
    border-radius: 2px;
    border-color: white;
    border-radius: 15px;
}

.slogan {
    font-size: 30px;
    color: yellow;
    position: relative;
    text-align: center;
}

button a {
    text-decoration: none;
    color: white;
}
img {
    width: 100vw;
    padding: 1em;
    box-sizing: border-box;
}