.container {
    background-image: url(piano.png);
    z-index: -1;
    position: relative;
    min-width: 50vmin;
    margin: 0px;
}
img, body{
    margin: 0;
}
#title {
    position: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    color: white;
    font-family: Verdana;
    padding: 50px;
    margin-left: 330px;
}
button {
    position: absolute;
    width: 200px;
    font-size: 50px;
    z-index: 1;
    top: 35%;
    right: 45%;
    text-align: center;
}
.slogan {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 23%;
    left: 5%;
}